.hero {
    margin-bottom: 4rem;
    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
        height: 50rem;

        &__img {
            object-fit: fill;
            object-position: center;
            flex: 0 0 70%;
        }
        &__article {
            flex: 0 0 30%;
        }
    }
}

.post--lg {
    margin: 4rem 0;
}
.hero,
.post {
    box-shadow: 0 0.3rem 1rem 0 rgba($black, 0.2);
    border-radius: 0.3rem;
    overflow: hidden;
    &__img {
        @include responsive-img;
    }
    .article {
        background-color: $white;
        padding: 4rem 2rem;
        &__tag {
            text-transform: uppercase;
            font-family: 'Muli', sans-serif;
            font-weight: 700;
            color: $heading-text-color;
        }

        &__title {
            font-family: 'HK Grotesk', sans-serif;
            padding: 2rem 0;
            font-size: 2.2rem;
            cursor: pointer;
        }

        &__content {
            line-height: 2.5rem;
        }

        &__timestamp {
            padding: 2rem 0;
        }

        &__author {
            font-family: 'Muli', sans-serif;
            font-weight: 700;
            color: $black;
            cursor: pointer;
        }
    }
}
