@mixin responsive($breakpoint) {
  @if $breakpoint == tablet-portrait {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tablet-landscape {
    @media (max-width: 76.8em) {
      @content;
    }
  }
  @if $breakpoint == large-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin absCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
