.footer {
    background-color: $black;
    color: $white;
    font-family: 'HK Grotesk', sans-serif;
    padding: 2rem 0;
    text-align: center;
    line-height: 4rem;

    &__nav {
        &-link {
            color: $off-white;
            text-decoration: none;
            padding: 0 1rem;
            transition: all 0.5s;
            &:hover {
                color: $white;
            }
        }
    }

    &__nav-link.active,
    & .terms__link,
    & .copyright__link {
        text-decoration: none;
        color: $white;
    }

    & .copyright__link {
        font-family: 'Muli', sans-serif;
        font-weight: bold;
        color: $light-gray;

        &:hover {
            color: $white;
        }
    }
}
